<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App (with Webpack)</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>

  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <%- body %>
  </body>
</html>
